
<div mat-dialog-content>
<mat-form-field appearance="fill">
    <mat-label>Select Cage</mat-label>
    <mat-select (selectionChange)="onChange($event)">
        <mat-option *ngFor = "let cage of cageOptions" [value] = "cage">
            {{ cage.name }}
        </mat-option>
      </mat-select>
      
</mat-form-field>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial [mat-dialog-close] = "selectedCage" color="primary" [disabled]="cageFlag">
       OK
    </button>
  </div>
</div>
